@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

@theme {
  /* colors */
  --color-white: hsl(0, 0%, 100%);
  --color-gray-100: hsl(0, 2%, 79%);
  --color-brand-400: hsl(25, 88%, 75%);
  --color-brand-500: hsl(25, 88%, 66%);
  --color-green-400: hsl(143, 19%, 49%);
  --color-green-500: hsl(143, 38%, 37%);
  --color-green-600: hsl(145, 29%, 19%);
  --color-brown-500: hsl(10, 5%, 25%);
  --color-brown-600: hsl(9, 7%, 21%);
  --color-brown-700: hsl(9, 8%, 16%);
  --color-brown-800: hsl(0, 6%, 15%);
  --color-brown-900: hsl(0, 6%, 13%);

  --color-orange-500: hsl(28, 43%, 28%);
  --color-red-500: hsl(359, 34%, 24%);
  --color-teal-500: hsl(186, 42%, 25%);

  /* font families */
  --font-fira: var(--font-fira);
  --font-outfit: var(--font-outfit);

  /* font sizes */
  --text-fs-300: 0.875rem;
  --text-fs-400: 1rem;
  --text-fs-500: 1.125rem;
  --text-fs-600: 1.25rem;
  --text-fs-700: 1.5rem;
  --text-fs-800: 2rem;
  --text-fs-900: 3.75rem;
  --text-fs-1000: 3.75rem;

  /* screens */
  --breakpoint-md: 560px;
  --breakpoint-lg: 760px;
}

@layer base {
  body {
    @apply font-fira overflow-x-hidden;
  }
}
